<!DOCTYPE html>
html(lang='es')
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia sesión en UpTask

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method='POST' action='/iniciar-sesion')
                .campo
                    label(for='email') Correo
                    input(type='email' id='email' name='email' placeholder='Ingresa tu correo' value= email)
                .campo
                    label(for='password') Contraseña
                    input(type='password' id='password' name='password' placeholder='Ingresa tu contraseña' value= password)
                .campo.enviar
                    input.boton(type='submit' value='Iniciar sesión')
                .campo.acciones
                    a('href'='/crear-cuenta') ¿No tienes una cuenta? Registrate
                    a('href'='/reestablecer') ¿Olvidaste tu contraseña?


        script(src='/dist/bundle.js')
