<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        style
            include ./email.css

    body
        h2 Confirma tu cuenta UpTask
        p ¡Ya estás casí listo! Confirma tu cuenta para continuar para continuar usando UpTask

        a(href=`${confirmarUrl}`) Confirmar cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
        p Si no solicitaste este correo, puedes ignorarlo
